<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eamv.dmu17he.lancrewapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
        <activity android:name="eamv.dmu17he.lancrewapp.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".activities.UsersActivity"        
        <activity android:name="eamv.dmu17he.lancrewapp.activities.RegisterActivity" android:screenOrientation="portrait" />    
        <activity android:name="eamv.dmu17he.lancrewapp.activities.UsersActivity" android:screenOrientation="portrait" />
        <activity android:name=".activities.MenuActivity" android:screenOrientation="portrait" />
        <activity android:name=".activities.ActivityWakeUp" />
        <activity android:name=".activities.Administrate" />
        <activity android:name=".activities.BookAWakeUp" />
        <activity android:name=".activities.BookingOverview" />
        <activity android:name=".activities.CreateHall" />
        <activity android:name=".activities.EditHall" />
        <activity android:name=".activities.PickSpace" />
        <activity android:name=".activities.DeleteHall" />
        <activity android:name=".activities.ChooseEditOrDelete" />
        <activity android:name=".activities.WakeUpDetails"></activity>
    </application>

</manifest>